---
import { Icon } from 'astro-icon/components';
import Main from '@/layouts/main.astro';
---

<Main title="404 | Liria Documents" description="Page not found.">
    <div class="py-24 flex flex-col gap-6 items-center">
        <h1 class="text-9xl text-neutral-400 font-extrabold">404</h1>
        <p class="text-xl text-neutal-400">page not found</p>
        <a
            href="/"
            class="mt-12 px-7 py-2 rounded-lg relative flex place-items-center text-lg text-neutral-3 hover:bg-neutral-800 transition-all duration-200 ease-in-out group *:transition-all *:duration-200 *:ease-in-out"
        >
            <Icon
                name="lucide:arrow-left"
                size={20}
                class="absolute shrink-0 opacity-0 group-hover:opacity-100 group-hover:-translate-x-3"
            />
            <span class="group-hover:opacity-100 group-hover:translate-x-3">
                home
            </span>
        </a>
    </div>
</Main>
