---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Main from '@/layouts/main.astro';
import LogoLiriaGraphics from '../../public/logo_liria_graphics.png';
---

<Main
    type="website"
    title="Liria Documents"
    description="Documents of Liria products"
>
    <div class="w-full flex flex-col items-center justify-center">
        <a
            tabindex="0"
            href="/graphics"
            class="self-stretch h-[70vh] my-8 rounded-xl relative flex items-center justify-center overflow-hidden bg-neutral-800 group"
        >
            <div
                class="absolute inset-0 bg-gradient-to-br from-transparent to-neutral-700 opacity-40 group-hover:opacity-100 group-focus-visible:opacity-100 transition-all duration-200 ease-in-out"
            >
            </div>
            <div class="absolute top-0 left-0 p-5 flex items-center gap-3">
                <Icon name="booth" size={20} class="text-neutral-400" />
            </div>
            <div class="absolute flex items-center">
                <Image
                    src={LogoLiriaGraphics}
                    alt="Liria Graphics"
                    format="webp"
                    loading="eager"
                    class="flex w-64 md:w-72 opacity-60 group-hover:-translate-x-4 group-focus:-translate-x-4 group-hover:opacity-100 transition-all duration-200 ease-in-out"
                />

                <Icon
                    name="lucide:arrow-right"
                    size={32}
                    class="opacity-0 shrink-0 group-hover:opacity-100 group-hover:translate-x-4 group-focus:opacity-100 group-focus:translate-x-4 transition-all duration-200 ease-in-out"
                />
            </div>
        </a>
    </div>
</Main>
