---
import { getArticles } from '@/lib/graphics';
import Link from '@/components/link.astro';
import Sidebar from '@/components/sidebar.vue';

const data = await getArticles();

const contents = [
    {
        label: 'Liria Graphics',
        href: '/graphics',
        contents: [
            {
                contents: [
                    ...data.contents.map((article) => ({
                        label: article.title.ja,
                        href: `/graphics/${article.id}`,
                        external: false,
                    })),
                ],
            },
            {
                contents: [
                    {
                        label: 'ライセンス',
                        href: '/graphics/license',
                        external: false,
                    },
                ],
            },
            {
                label: '外部リンク',
                contents: [
                    {
                        label: 'BOOTH',
                        href: 'https://eicosapenta.booth.pm/',
                        external: true,
                    },
                    {
                        label: 'GitHub',
                        href: 'https://github.com/Liria-works/liria-graphics',
                        external: true,
                    },
                ],
            },
        ],
    },
];

const issueLink =
    'https://github.com/Liria-works/documents.liria.work/issues/new?assignees=Liry24&labels=documentation&projects=&template=%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88%E4%BF%AE%E6%AD%A3%E3%81%AE%E6%8F%90%E6%A1%88.md&title=%E4%BF%AE%E6%AD%A3%E3%81%AE%E6%8F%90%E6%A1%88+%3A+%3C%E3%83%9A%E3%83%BC%E3%82%B8%E5%90%8D%3E';
---

<div class="w-full flex flex-col md:flex-row px-3 gap-6 md:gap-10">
    <Sidebar client:load contents={contents} />

    <div class="flex flex-col gap-8 md:pt-12 pb-8">
        <article>
            <slot />
        </article>

        <div>
            <Link
                href={issueLink}
                label="修正を提案"
                icon="lucide:move-up-right"
            />
        </div>
    </div>
</div>
