---
import { Icon } from 'astro-icon/components';
---

<footer class="flex items-center self-center text-xs gap-5 text-neutral-400">
    <div class="flex items-center gap-2">
        <Icon name="liria" size={16} class="shrink-0" />
        <p>© 2024 Liria</p>
    </div>

    <div>
        <a
            tabindex="0"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja"
            target="_blank"
            class="px-2 py-1 rounded-md hover:underline focus-visible:outline-none ring-inset ring-0 focus-visible:ring-1 ring-neutral-600 bg-focus-visible:neutral-700"
        >
            CC BY-NC-SA 4.0
        </a>
    </div>
</footer>
