---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';

const links = [
    {
        icon: 'liria',
        href: 'https://liria.work',
        label: 'Liria',
    },
    {
        icon: 'booth',
        href: 'https://eicosapenta.booth.pm',
        label: 'Liria Graphics - BOOTH',
    },
    { icon: 'simple-icons:x', href: 'https://x.com/liria_work', label: 'X' },
    {
        icon: 'simple-icons:github',
        href: 'https://github.com/liria24',
        label: 'GitHub',
    },
];
---

<header class="w-full gap-4 flex items-center justify-between">
    <a
        tabindex="0"
        href="/"
        class="pl-1 pr-2 py-1 flex items-center gap-2 select-none rounded-md focus-visible:outline-none focus-visible:bg-neutral-700 ring-inset ring-0 focus-visible:ring-1 ring-neutral-600 bg-focus-visible:neutral-700"
    >
        <Icon name="liria" size={30} />
        <span
            class="text-xl font-bold tracking-wide leading-none pt-0.5 whitespace-nowrap"
        >
            Liria Docs
        </span>
    </a>

    <div class="gap-1 sm:gap-3 flex flex-wrap items-center justify-end">
        {
            links.map((link) => (
                <a
                    tabindex="0"
                    href={link.href}
                    target="_blank"
                    aria-label={link.label}
                    class={twMerge(
                        'group p-2 rounded-md flex ring-inset ring-0 ring-neutral-600',
                        'focus-visible:ring-1 focus-visible:bg-neutral-700 focus-visible:outline-none',
                        'transition duration-150 ease-in-out',
                        '*:transition *:duration-150 *:ease-in-out'
                    )}
                >
                    <Icon
                        name={link.icon}
                        size={18}
                        class="text-neutral-400 group-hover:text-neutral-100"
                    />
                </a>
            ))
        }
    </div>
</header>
