---
import '@/styles/base.css';
import { AstroFont } from 'astro-font';
import { SEO } from 'astro-seo';
import Analytics from '@vercel/analytics/astro';

import Header from './header.astro';
import Footer from './footer.astro';

interface Props {
    title: string;
    type?: 'website' | 'article';
    description: string;
    image?: string;
    publishedTime?: string;
    modifiedTime?: string;
    authors?: string[];
    twitterCard?: 'summary' | 'summary_large_image';
}

const {
    title,
    type,
    description,
    image,
    publishedTime,
    modifiedTime,
    authors,
    twitterCard,
} = Astro.props;

const defaults: Partial<Props> = {
    type: 'article',
    image: `${Astro.url.origin}/og.png`,
    publishedTime: new Date().toISOString(),
    modifiedTime: new Date().toISOString(),
    authors: ['Liria'],
    twitterCard: 'summary',
};
---

<html lang="en">
    <head>
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self';"
        />
        <meta name="generator" content={Astro.generator} />
        <SEO
            openGraph={{
                basic: {
                    title: title,
                    type: type || defaults.type!,
                    image: image ? Astro.url.origin + image : defaults.image!,
                },
                optional: {
                    description: description,
                    siteName: 'Liria Documents',
                    locale: 'ja_JP',
                },
                article: {
                    publishedTime: publishedTime || defaults.publishedTime,
                    modifiedTime: modifiedTime || defaults.modifiedTime,
                    authors: authors || defaults.authors,
                },
                image: {
                    url: image ? Astro.url.origin + image : defaults.image!,
                    alt: title,
                },
            }}
            twitter={{
                site: 'liria_work',
                card: twitterCard || defaults.twitterCard!,
                image: image ? Astro.url.origin + image : defaults.image!,
                title: title,
                description: description,
            }}
        />
        <AstroFont
            config={[
                {
                    src: [],
                    name: 'Montserrat',
                    // Google Fonts URL
                    googleFontsURL:
                        'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap',
                    preload: true,
                    display: 'swap',
                    selector: 'body',
                    fallback: 'sans-serif',
                },
            ]}
        />
        <Analytics />
    </head>

    <body class="text-neutral-100 bg-[#0b0b0b] px-8 py-5">
        <div class="w-full flex flex-col mx-auto gap-3">
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>
