---
import "@/styles/base.css";
import MainLayout from "@/layouts/main.astro";
import Header from "@/layouts/header.astro";
import Footer from "@/layouts/footer.astro";
import LiriaGraphics from "@/components/liriaGraphics.astro";
import Avatio from "@/components/avatio.astro";
import Member from "@/components/member.astro";
---

<MainLayout>
    <div class="px-8 py-6 size-full flex flex-col gap-24 items-center">
        <Header />
        <div class="w-full flex flex-col items-center gap-16 px-8">
            <div class="h-40"></div>
            <LiriaGraphics />
            <Avatio />
            <Member />
        </div>
        <Footer />
    </div>
</MainLayout>
