---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import LogoAvatio from "../../public/avatio/logo.svg";
---

<div class="w-full flex flex-col gap-6">
    <div class="w-fit flex flex-col items-start gap-3">
        <a
            href="https://eicosapenta.booth.pm/"
            target="_blank"
            rel="noopener noreferrer"
            class="w-fit flex mb-1"
        >
            <Image
                src={LogoAvatio}
                alt="Liria Graphics"
                class="w-44 sm:w-56 object-cover flex-shrink-0"
            />
        </a>

        <div class="w-fit flex items-center gap-8">
            <div class="w-fit flex items-center gap-1.5 text-neutral-500">
                <p>now private alpha</p>
            </div>

            <a
                href="https://documents.liria.work/avatio"
                target="_blank"
                rel="noopener noreferrer"
                class="w-fit flex"
            >
                <div
                    class="flex items-center gap-1.5 text-neutral-500 hover:text-neutral-300"
                >
                    <p>documents</p>
                    <Icon name="lucide:square-arrow-out-up-right" />
                </div>
            </a>
        </div>
    </div>

    <div class="flex items-center">
        <div class="w-full h-40 rounded-lg bg-neutral-700"></div>
    </div>
</div>
