---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import LogoLiriaGraphics from "../../public/graphics/logo.svg";

import ItemCrystalHorn from "../../public/graphics/item_crystal_horn.png";
import ItemCharmChoker from "../../public/graphics/item_charm_choker.png";
import ItemKeyholder from "../../public/graphics/item_keyholder.png";
import ItemLogoPack from "../../public/graphics/item_logo_pack.png";
import ItemRewardNyaacup6 from "../../public/graphics/item_reward_nyaacup6.png";

const items = [
    ItemCrystalHorn,
    ItemCharmChoker,
    ItemKeyholder,
    ItemLogoPack,
    ItemRewardNyaacup6,
];
---

<div class="w-full flex flex-col gap-6">
    <div class="w-fit flex flex-col items-start gap-3">
        <a
            href="https://eicosapenta.booth.pm/"
            target="_blank"
            rel="noopener noreferrer"
            class="w-fit flex"
        >
            <Image
                src={LogoLiriaGraphics}
                alt="Liria Graphics"
                class="w-48 sm:w-64 h-12 object-cover flex-shrink-0"
            />
        </a>

        <div class="w-fit flex items-center gap-8">
            <a
                href="https://eicosapenta.booth.pm/"
                target="_blank"
                rel="noopener noreferrer"
                class="w-fit flex"
            >
                <div
                    class="flex items-center gap-1.5 text-neutral-500 hover:text-neutral-300"
                >
                    <p>booth.pm</p>
                    <Icon name="lucide:square-arrow-out-up-right" />
                </div>
            </a>

            <a
                href="https://documents.liria.work/liria-graphics"
                target="_blank"
                rel="noopener noreferrer"
                class="w-fit flex"
            >
                <div
                    class="flex items-center gap-1.5 text-neutral-500 hover:text-neutral-300"
                >
                    <p>documents</p>
                    <Icon name="lucide:square-arrow-out-up-right" />
                </div>
            </a>
        </div>
    </div>

    <div class="flex items-center gap-3 overflow-clip">
        {
            Array.from(items).map((item) => (
                <a class="flex-shrink-0">
                    <Image
                        src={item}
                        alt="Liria Graphics"
                        class="w-48 object-cover"
                    />
                </a>
            ))
        }
    </div>
</div>
