---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<div class="flex gap-6 w-fit items-center">
    <p class="text-lg text-neutral-300">Designer / Developer</p>

    <div class="gap-3 pl-2 flex items-center">
        <Image
            src="https://avatars.githubusercontent.com/u/47878070?v=4"
            alt="Liria Graphics"
            width="32"
            height="32"
            class="rounded-full"
        />
        <p class="text-xl text-neutral-300">Liry24</p>
    </div>
</div>
