---
import { Image } from 'astro:assets';
---

<div class="flex gap-6 w-fit items-center">
    <p class="text-md text-neutral-500">Designer / Developer</p>

    <div class="gap-3 pl-2 flex items-center">
        <Image
            src="https://avatars.githubusercontent.com/u/47878070?v=4"
            alt="Liria Graphics"
            width="32"
            height="32"
            class="rounded-full"
        />
        <p class="font-bold text-xl text-neutral-400">Liry24</p>
    </div>
</div>
