---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import LogoLiria from "../../public/logo_liria.svg";
---

<div class="w-full flex items-center justify-between pl-4 pr-5">
    <a href="/" class="flex items-center gap-2.5">
        <Image
            src={LogoLiria}
            alt="Liria Admin"
            width="40"
            loading="eager"
            class="mb-1"
        />
    </a>

    <div class="flex items-center gap-4">
        <a
            aria-label="X - Liria"
            href="https://x.com/liria_work"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 mr-1 text-neutral-400 hover:text-neutral-200"
        >
            <Icon name="simple-icons:x" class="size-6" />
        </a>
        <a
            aria-label="GitHub - Liria"
            href="https://github.com/Liria-works"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 mr-1 text-neutral-400 hover:text-neutral-200"
        >
            <Icon name="simple-icons:github" class="size-6" />
        </a>
    </div>
</div>
