---
import "@/styles/base.css";
import { SEO } from "astro-seo";
---

<html lang="en">
    <head>
        <SEO
            charset="utf-8"
            title="Liria"
            description="Liria is a personal circle by Liry24."
            openGraph={{
                basic: {
                    title: "Liria",
                    type: "",
                    image: "",
                },
            }}
            twitter={{
                creator: "@liria_work",
                card: "summary_large_image",
                image: "",
                title: "Liria",
                description: "Liria is a personal circle by Liry24.",
            }}
            extend={{
                meta: [
                    {
                        name: "viewport",
                        content: "width=device-width, initial-scale=1",
                    },
                    {
                        name: "generator",
                        content: Astro.generator,
                    },
                ],
            }}
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body class="bg-neutral-900">
        <slot />
    </body>
</html>
