---
import Header from "./header.astro";
import Footer from "./footer.astro";
import LiriaGraphics from "@/components/liriaGraphics.astro";
import Avatio from "@/components/avatio.astro";
import Member from "@/components/member.astro";
---

<main class="px-8 py-6 size-full flex flex-col gap-24 items-center">
    <Header />
    <div class="w-full flex flex-col items-center gap-20 px-8">
        <div class="h-32"></div>
        <LiriaGraphics />
        <Avatio />
        <Member />
    </div>
    <Footer />
</main>
