---
import { twMerge } from 'tailwind-merge';

interface Props {
    data: {
        headers: {
            key: string;
            label: string;
            align?: 'left' | 'center' | 'right';
        }[];
        rows: Array<{ [key: string]: string }>;
    };
}

const { data } = Astro.props;
---

<table
    class="table-auto rounded-lg outline outline-1 outline-neutral-600 divide-y-1 divide-neutral-600"
>
    <thead class="text-sm bg-neutral-800">
        <tr class="divide-x-1 divide-neutral-600">
            {data.headers.map((h) => <th class="px-3 py-1">{h.label}</th>)}
        </tr>
    </thead>
    <tbody class="divide-y-1 divide-neutral-600">
        {
            data.rows.map((row) => (
                <tr class="divide-x-1 divide-neutral-600">
                    {data.headers.map((header) => (
                        <td
                            class={twMerge(
                                'px-3 py-1',
                                (() => {
                                    if (header.align === 'left')
                                        return 'text-left';
                                    else if (header.align === 'right')
                                        return 'text-right';
                                    else return 'text-center';
                                })()
                            )}
                        >
                            {row[header.key]}
                        </td>
                    ))}
                </tr>
            ))
        }
    </tbody>
</table>
